alembic==1.4.2
appdirs==1.4.4
appnope==0.1.0
backcall==0.2.0
beautifulsoup4==4.9.1
bleach==3.1.5
blinker==1.4
cachelib==0.1
certifi==2020.6.20
chardet==3.0.4
chromedriver-py==81.0.4044.69
click==7.1.2
colorama==0.4.3
config==0.5.0.post0
cycler==0.10.0
darkdetect==0.1.1
decorator==4.4.2
distlib==0.3.0
dnspython==1.16.0
docutils==0.16
email-validator==1.1.1
extruct==0.9.0
filelock==3.0.12
Flask==1.1.2
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-Session==0.3.2
Flask-SQLAlchemy==2.4.3
Flask-WTF==0.14.3
gunicorn==20.0.4
html-text==0.5.1
html5lib==1.0.1
idna==2.9
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==0.16.0
Js2Py==0.68
keyring==21.2.1
kiwisolver==1.2.0
language-tags==1.0.0
Mako==1.1.3
MarkupSafe==1.1.1
mf2py==1.1.2
packaging==20.4
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pkginfo==1.5.0.1
prompt-toolkit==3.0.5
psycopg2-binary==2.8.5
ptyprocess==0.6.0
pycryptodome==3.4.3
Pygments==2.6.1
pyjsparser==2.7.1
PyJWT==1.7.1
pyloco==0.0.139
pyparsing==2.4.7
PyQt5==5.14.2
PyQt5-sip==12.8.0
python-dateutil==2.8.1
python-dotenv==0.13.0
python-editor==1.0.4
pytz==2020.1
pyzmq==19.0.1
rdflib==4.2.2
rdflib-jsonld==0.5.0
readme-renderer==26.0
requests==2.23.0
requests-file==1.5.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
scikit-learn==0.23.1
scipy==1.5.2
SimpleWebSocketServer==0.1.1
six==1.15.0
soupsieve==2.0.1
SQLAlchemy==1.3.17
threadpoolctl==2.1.0
tldextract==2.2.2
tornado==6.0.4
tqdm==4.48.0
traitlets==4.3.3
twine==3.2.0
typing==3.7.4.3
tzlocal==2.1
urllib3==1.25.9
ushlex==0.99.1
virtualenv==20.0.21
w3lib==1.22.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
WTForms==2.3.1
xlrd==1.2.0
