/* Color scheme
  #fdfcfc light yellow/white or white font color
  #fed9b7 light orange
  #f07167 red-orange
  #00afb9 green-blue
  #0081a7 blue
  #333 black font color
*/

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-weight: 400;
}

.basepage {
  display: block;
  margin: 0 auto;
  margin-top: 140px;
  padding: 30px 60px;
}

.home p, .about p {
  color: #fdfcfc;
  font-size: 1.2rem;
}

.about h2 {
  font-weight: 700;
}

.home h1 {
  font-size: 40px;
  font-weight: 700;
}
/* overlay background for header */
/* nav bar color  */
:root {
  --background: rgb(0, 175, 185, 0);
}
header {
  text-align: center;
  position: fixed;
  z-index: 999;
  color: #fdfcfc;
  background: var(--background);
}
.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
  margin: 10px;
  font-weight: 700;
  color: #fdfcfc;
}

/* Remove underline from all links */
a:hover {
  color: #f07167;
  text-decoration: none;
}

/* highlighted nav element stays pink  */
a.active-nav {
  color: #f07167;
}

/* NAVBAR when screen is small */
nav {
  background: var(--background);
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav a {
  color: #fdfcfc;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 300ms;
}
.nav-toggle {
  display: none;
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}
.nav-toggle-label span::before{
  bottom: 7px;
}
.nav-toggle-label span::after{
  top: 7px;
}

.background-img {
  /* min-height: 100vh; */
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
        url("/static/cropped.jpg");
  background-size: cover;
  display: grid;
  color: #fdfcfc;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* center all body content */
.content {
  /* padding-top: 100px; */
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* alerts */
.alert {
  padding: 10px;
  margin: auto;
  margin-top: 100px;
  font-size: 1rem;
  width: 60%;
}
.close {
  margin: -6px;
  margin-top: -2px;
}

/* Basic Form layout */
.formBase {
  color: #333;
  background: #fdfcfc;
  padding: 80px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 56%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  margin: 0 auto;
}

/* login page */
.login {
  width: 370px;
  height: 500px;
}
.login-form h1 {
  font-weight: 700;
  text-align: center;
  margin-top: -40px;
  margin-bottom: -10px;
}
form label {
  text-align: center;
  margin-bottom: -20px;
}
.txtb-fields p {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
  text-align: left;
  margin-bottom: -10px;
}
.txtb-fields input {
  font-size: 15px;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 3px;
  height: 20px;
}

/* Error message */
.error {
  color: #f07167;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  text-align: left;
}

/* login and signup buttons */
.logbtn {
  margin-top: 20px;
  display: block;
  width: 100%;
  height: 60px;
  border: none;
  background: linear-gradient(290deg, #fdfcdc, #f07167, #fdfcdc);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .5s;
  font-size: 17px;
}
.logbtn:hover {
  background-position: right;
}

/* new user sign up link */
.bottom-text {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
}
.remember_me {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: left;
}
/* signup page */
.signup {
  height: 560px;
  width: 400px;
  top: 56%;
}
.signup.txtb-fields input {
  font-size: 13px;
  height: 18px;
}
.login-form.signup h1 {
  margin-top: -50px;
  margin-bottom: -10px;
}

/* NAVBAR when screen is larger than 1050px */
@media screen and (min-width: 1130px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background: rgb(0, 175, 185, 1);
  }
  .logo {
    grid-column: 1 / 2;
  }
  nav {
    all: unset;
    grid-column: 4 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 25px;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav ul{
    display: flex;
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: #333;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: center;
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::before {
    transform: scale(1, 1);
  }
}

/* Home "get started" button */
.btn-lg.round {
	border-radius: 24px;
}
.btn-outline-primary{
  color:#fdfcfc;
  background-color:transparent;
  background-image:none;
  border-color:#fdfcfc;
}
.btn-outline-primary:hover{
  color:#fdfcfc;
  background:linear-gradient(290deg, #fdfcdc, #f07167, #fdfcdc);
  border:none;
  cursor: pointer;
  transition: .5s;
}
.btn-outline-primary:focus,
.btn-outline-primary.focus{
  box-shadow:0 0 0 .2rem rgba(128, 0, 0, 0.5);
  background-position: right;
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled{
  color:#f07167;
  background-color:transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle{
  color:#fff;
  background-color:#f07167;
  border-color: #f07167;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus{
  box-shadow:0 0 0 .2rem rgba(128, 0, 0, 0.5);
}

/* search page styles ********************************************/
.search-page {
  background-size: cover;
  display: grid;
  overflow: hidden;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 102%;
  min-width: 100%;
  margin: auto;
}

.username h4 {
  margin-top: 150px;
  margin-right: 35px;
  color: #fdfcfc;
}
/* left  */
.search {
  background-color: #0081a7;
  left: 0px;
}

/* right  */
.random {
  background-color: #f07167;
  right: 0px;
}

.random, .search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 50%;
}

.search-text {
  margin-left: 30px;
}

.search-form {
  top: 50%;
  left: 25%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  position: fixed;
}

/* make font smaller when screen gets small */
.search-text h3, .adventurous-text h3 {
  color: #fdfcfc;
  font-size: 0.9rem;
}

#recipe-search, #random-recipe {
  font-size: 1rem;
}

.form-control:focus {
  border-color: #0081a7;
  box-shadow: 0 0 0 0.2rem rgba(0, 129, 167, 0.25);
}

/* buttons/input are large but get smaller when window shrinks */
@media screen and (min-width: 800px) {
  .search-text h3, .adventurous-text h3 {
    font-size: 1.3rem;
  }

  #recipe-search-button {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
  }

  #recipe-search {
    width: 80%;
    height: 45px;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
  }

  #random-recipe {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
  }

  .search-text {
    padding: 20px;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    position: fixed;
    margin-top: -30px;
    min-width: 300px;
  }

  .adventurous-text {
    padding: 20px;
    left: 76%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    position: fixed;
    min-width: 300px;
    margin-top: -30px;
  }
}

.recipe-search {
  width: 60%;
}

.random-form {
  top: 50%;
  margin-top: 12px;
}

#random-recipe {
  height: 45px;
}

/* Feedback Form */
.feedback-field p {
  border: none;
}
#feedbackBody {
  width: 100%;
  height: 80px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 15px;
}

.db {
  margin-top: 80px;
  font-size: 18px;
  color: #00afb9;
}

/* random recipe page styles ********************************************/
.random-page {
  background-color: #f07167;
  background-size: cover;
  display: grid;
  overflow: hidden;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 102%;
}

.random-img {
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 50%;
  margin-top: -100px;
}

.random-text {
  margin-left: 40%;
  width: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.random-page a {
  color: #00afb9;
}

.random-page a:hover {
  color: #0081a7;
}

.random-ingredient {
  text-align: left;
  margin-left: 25%;
}
