/* Color scheme
  #fdfcfc light yellow/white or white font color
  #fed9b7 light orange
  #f07167 red-orange
  #00afb9 green-blue
  #0081a7 blue
  #333 black font color
*/

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-weight: 400;
}

.home {
  display: block;
  width: 100%;
  float: left;
  padding: 30px 60px;
  margin-left: 6%;
  margin-top: 17%;
  text-align: left;
  overflow: scroll;
}
.about {
  margin-top: 12%;
}
.home p, .about p {
  color: #fdfcfc;
  font-size: 0.95rem;
}

.about h2 {
  font-weight: 700;
}

.home h1, span.underline-text {
  font-size: 34px;
  font-weight: 700;
}

.home p {
  width: 70%;
  line-height: 1.5rem;
  margin-top: 1.8rem;
}

span.underline-text {
  background-color: rgb(240, 113, 103);
  padding-right: 0.5rem;
  padding-left: 0.3rem;
  box-shadow: 5px 5px rgba(240, 113, 103, 0.4);
}
@media screen and (max-width: 900px) {
  .about {
    margin-top: 20%;
  }
  /* search results for header */
  .back-btn h2{
    margin: 0 auto;
    margin-top: 80px;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .home h1, h1 span.underline-text {
    font-size: 24px;
  }
  .home p {
    font-size: 0.8rem;
    float: unset;
  }
  .home {
    margin-top: 30%;
  }
  h1.logo {
    font-size: 25px;
    margin-top: 13px;
    margin-left: 33px;
  }
  .logo img.novice-chef-logo {
    height: 55px;
  }
  .home {
    padding-left: 20px;
    padding-right: 20px;
  }
  .about {
    margin-top: 30%;
    margin-left: -20px;
    margin-right: -60px;
    font-size: 30%;
  }
  button.logbtn-password {
    font-size: 12px;
  }
}
@media screen and (max-width: 400px) {
  .logo img.novice-chef-logo {
    height: 35px;
  }
  h1.logo {
    font-size: 20px;
  }
  .home {
    padding-left: 10px;
    padding-right: 5px;
  }
}
/* ABOUT page ****************************************/
.about-page {
  padding-bottom: 7rem;
}

.about {
  text-align: left;
}

/* left */
.about-bio, #about-photos {
  float: left;
  width: 50%;
  margin-left: 5rem;
}

/* right */
#site-feedback {
  background-color: rgb(0, 175, 185, 1);
  border-radius: 10px;
  padding: 2rem 1rem;
  text-align: center;
  width: 30%;
  float: right;
  margin: 0 auto;
  margin-top: 8rem;
  margin-right: 5rem;
  box-shadow: 10px 10px rgb(0, 175, 185, 0.5);
}

.site-feedback-btn {
  height: 2rem;
  margin-top: 1rem;
  font-weight: 600;
}
.site-feedback-btn:hover {
  color: #f07167;
}

#jacquelyn-photo, #alice-photo {
  width: 50%;
  padding-bottom: 10rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 25%;
}

#jacquelyn-photo {
  float: left;
}

#alice-photo {
  float: right;
}

#alice-img, #jacquelyn-img {
  width: 30%;
  height: 30%;
  opacity: 0.8;
  border-radius: 50%;
  border: 4px solid #fdfcfc;
}

#jacquelyn-img {
  float: right;
}

#alice-img:hover, #jacquelyn-img:hover {
  opacity: 1;
}

/* resize elements when screen gets small */
@media screen and (max-width: 950px) {
  #site-feedback {
    margin-top: 9rem;
    margin-right: 3rem;
  }
}
@media screen and (max-width: 800px) {
  #site-feedback {
    font-size: 10px;
    min-width: 250px;
    margin: -1rem 0rem 5rem 5rem;
    float: left;
  }

  .about p {
    font-size: 0.8rem;
  }

  .site-feedback-btn {
    font-size: 0.6rem;
  }

  #jacquelyn-photo, #alice-photo {
    width: 20%;
    padding: 0rem;
    margin-top: 35%;
    padding-bottom: 5rem;
  }

  #jacquelyn-photo {
    float: left;
    margin-left: -40%;
  }

  #jacquelyn-img, #alice-img {
    width: 70%;
    border: 3px solid #fdfcfc;
  }

  #alice-photo {
    float: left;
    margin-left: -15%;
  }
}
@media screen and (max-width: 700px) {
  #jacquelyn-photo {
    float: left;
    margin-left: -45%;
  }
  #alice-photo {
    float: left;
    margin-left: -15%;
  }
  #jacquelyn-photo, #alice-photo {
    margin-top: 45%;
  }
}
/* overlay background for header ***********************/
/* nav bar color  */
header {
  text-align: center;
  position: fixed;
  z-index: 999;
  color: #fdfcfc;
  background: rgb(0, 175, 185);
}
.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
  margin: 10px;
  font-weight: 700;
  color: #fdfcfc;
}
/* novice chef logo */
.logo img{
  margin-left: 15px;
  margin-right:5px;
  height:60px;
}
/* Remove underline from all links */
a:hover {
  color: #f07167;
  text-decoration: none;
}

/* highlighted nav element stays pink  */
a.active-nav {
  color: #f07167;
}

/* NAVBAR when screen is small */
nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav a {
  color: #fdfcfc;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.nav-first-link {
  margin-top: 20px;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 300ms;
}
.nav-toggle {
  display: none;
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  margin-top: 0px;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}
.nav-toggle-label span::before{
  bottom: 7px;
}
.nav-toggle-label span::after{
  top: 7px;
}

.background-img {
  /* min-height: 100vh; */
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
        url("https://novicechef-assets.s3.us-east-2.amazonaws.com/cropped-bg.JPG");
  background-size: cover;
  display: grid;
  color: #fdfcfc;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}

/* center all body content */
.content {
  /* padding-top: 100px; */
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* alerts */
.alert {
  padding: 10px;
  margin: auto;
  margin-top: 100px;
  font-size: 1rem;
  width: 60%;
}
.close {
  margin: -6px;
  margin-top: -2px;
}

/* Basic Form layout */
.formBase {
  color: #333;
  background: #fdfcfc;
  padding: 80px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 56%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  margin: 0 auto;
}

/* login page ******************************************/
.login {
  width: 370px;
  height: 500px;
}

/* resize elements when screen gets small vertically */
@media screen and (max-height: 650px) {
  .login {
    width: 277.5px;
    height: 375px;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .reset-password {
    width: 400px;
    height: 300px;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.login-form h1 {
  font-weight: 700;
  text-align: center;
  margin-top: -40px;
  margin-bottom: -10px;
}
form label {
  text-align: center;
  margin-bottom: -20px;
}
.txtb-fields p {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
  text-align: left;
  margin-bottom: -10px;
}
.txtb-fields input {
  font-size: 15px;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 3px;
  height: 20px;
}

/* Error message */
.error {
  color: #f07167;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  text-align: left;
}

/* login and signup buttons */
.logbtn {
  margin-top: 20px;
  display: block;
  width: 100%;
  height: 60px;
  border: none;
  background: linear-gradient(290deg, #fdfcdc, #f07167, #fdfcdc);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .5s;
  font-size: 17px;
  border-radius: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.logbtn:hover {
  background-position: right;
}

/* new user sign up link */
.bottom-text {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
}
.remember_me {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: left;
}
/* signup page ******************************************/
.signup {
  height: 560px;
  width: 400px;
  top: 56%;
}
.signup.txtb-fields input {
  font-size: 13px;
  height: 18px;
}
.login-form.signup h1 {
  margin-top: -50px;
  margin-bottom: -10px;
}

/* resize elements when screen gets small vertically */
@media screen and (max-height: 650px) {
  .signup {
    width: 300px;
    height: 420px;
    margin-top: 8rem;
    margin-bottom: 5rem;
  }
}

/* NAVBAR when screen is larger than 1050px */
@media screen and (min-width: 1130px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .logo {
    grid-column: 1 / 2;
  }
  nav {
    all: unset;
    grid-column: 4 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 25px;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav ul{
    display: flex;
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  .nav-first-link {
    margin-top: 0px;
  }
  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: #fdfcfc;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: center;
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::before {
    transform: scale(1, 1);
  }
}

/* Home "get started" button */
.btn-lg.round, .btn-sm.round {
  border-radius: 24px;
  padding-left: 25px;
  padding-right: 25px;
}
.home-button {
  font-weight: 600;
}
.home-button:hover {
  color: #f07167;
}
/* search page styles ********************************************/
.search-page {
  background-size: cover;
  display: grid;
  overflow: hidden;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 102%;
  min-width: 100%;
  margin: auto;
}
.username h4 {
  margin-top: 100px;
  margin-right: auto;
  padding-right: 20px;
  color: #fdfcfc;
  font-size: 15px;
}
.right-logged h4 {
  font-weight: 600;
  font-size: 0.8rem;
}
.right-logged {
  position:absolute;
  top:0;
  right:0;
  margin-top: 110px;
  margin-right: auto;
  padding-right: 20px;
  z-index: 999;
}
/* left  */
.search {
  background-color: #0081a7;
  left: 0px;
}

/* right  */
.random {
  background-color: #f07167;
  right: 0px;
}

.random, .search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 50%;
}


.search-form {
  top: 50%;
  left: 25%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  position: fixed;
}
/* smaller window --> search button goes under input bar */
.search-column {
  float: left;
}
.search-input-column {
  width: 90%;
}
.search-input-column input {
  text-align: center;
}
.search-icon-column {
  width: 10%;
  margin-left: -20px;
}
.search-row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 800px) {
  .search-column {
    width: 100%;
  }
  .search-input-column {
    width: 130%;
    position: absolute;
    left: -13%;
    top: 25%;
  }
  .search-icon-column {
    margin-top: 50px;
    margin-left: 0px;
  }
}
/* make font smaller when screen gets small */
.search-text h3, .adventurous-text h3 {
  color: #fdfcfc;
  font-size: 0.9rem;
}

#recipe-search, #random-recipe-button {
  font-size: 1rem;
}
#random-recipe-button {
  padding: 11px;
}
#back-search-button, #back-search-button-random {
  font-weight: 600;
  color: white;
}
#back-search-button {
  margin-left: 0px;
}
#back-search-button-random {
  margin-top: 120px;
}
#recipe-search-button:hover, #random-recipe-button:hover, #back-search-button:hover, #back-search-button-random:hover {
  color: #f07167;
  font-weight: 600;
}
.top-random {
  margin-top: 60px;
  padding: auto;
}

.form-control:focus {
  border-color: #0081a7;
  box-shadow: 0 0 0 0.2rem rgba(0, 129, 167, 0.25);
}

/* buttons/input are large but get smaller when window shrinks */
@media screen and (min-width: 800px) {
  .search-text h3, .adventurous-text h3 {
    font-size: 1.3rem;
  }

  #recipe-search-button {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
  }

  #recipe-search {
    width: 80%;
    height: 45px;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
  }

  #random-recipe-button {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
  }

  .search-text {
    padding: 20px;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    position: fixed;
    margin-top: -30px;
    min-width: 300px;
  }

  .adventurous-text {
    padding: 20px;
    left: 76%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    position: fixed;
    min-width: 300px;
    margin-top: -30px;
  }

  .right-logged h4 {
    font-size: 1.5rem;
  }
}

.recipe-search {
  width: 60%;
}

.random-form {
  top: 50%;
  margin-top: 12px;
}

#random-recipe {
  height: 45px;
}

/* Feedback Form */
.feedback-field p {
  border: none;
}
#feedbackBody {
  width: 100%;
  height: 80px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 15px;
}

.db {
  margin-top: 80px;
  font-size: 18px;
  color: #00afb9;
}

/* random recipe page styles ********************************************/
.random-page {
  background-image: linear-gradient(to bottom, #e9a09b, #f07167);
  background-size: cover;
  display: grid;
  overflow: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 102%;
}

.random-img {
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 50%;
  margin-top: -100px;
}

.random-text {
  margin-left: 40%;
  width: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.random-page a {
  color: #f07167;
}

.random-page a:hover {
  color: #455560;
}

.random-ingredient {
  text-align: left;
  margin-left: 25%;
}


/* from recipe card example **************/
#card-container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 0.7rem;
  margin-bottom: 60px;
}

#card-title {
  font-weight: 700;
  font-size: 25px;
  background: #455560;
  padding: 15px 20px;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 5rem;
}

#details {
  background: #fff;
  border-left: solid 1px #ededed;
  border-right: solid 1px #ededed;
  font-size: 16px;
  padding: 15px 20px;
}

.detail-value {
  color: #455560;
}

#card-items {
  background: #ededed;
  padding: 20px;
  text-align: left;
}

.card-item-title {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 5rem;
}

ul.checkmark li:before {
    color: #f07167;
    content:"\2713\0020";
    font-weight: 600;
    margin-right: 10px;
}

.checkmark li {
  list-style-type: none;
  text-align: left;
}

li {
  margin-bottom: 3px;
}

#method {
  background: #fff;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#method {
  list-style-position: inside;
  margin-bottom: 10px;
  list-style-type: none;
  text-align: left;
}

#recipe-image img {
  margin-top: -20px;
  border-radius: 10px;
  margin-bottom: 40px;
  border: 2px solid white;
}

ol {
  counter-reset: item;
}

ol > li {
  counter-increment: item;
}

ol > li::before {
  font-weight: bold;
  content: counter(item) ".";
  margin-right: 8px;
}

.save-recipe-random {
  margin-top: 1rem;
  width: 5rem;
  border: 1px solid white;
  background-color: transparent;
}

a.saves, a.unsaves, a.notLoggedSave {
  color: #f07167;
  font-weight: 600;
}
a.unsaves {
  margin-right: 0px;
}
a.saves:hover, a.unsaves:hover, a.notLoggedSave:hover {
  color: #f07167;
}

#back-btn {
  margin-left: 5rem;
  width: 8rem;
  margin-top: 3rem;
  height: 2rem;
}

h4 {
  color: white;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

button#scroll-down {
  margin-top: 0.7rem;
  width: 3rem;
  font-size: 3rem;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

button#scroll-down:hover {
  color: #f07167;
}

/* resize elements when screen gets small */
@media screen and (max-width: 950px) {
  #recipe-image img {
    width: 220px;
  }
}
