{% extends "layout.html" %}

{% block heading %}
    
{% endblock %}

{% block body %}
<div class="container-fluid h-100 d-flex flex-row background-img">
    <div class="basepage">
        <h1>500 Error</h1>
        <h2>An unexpected error has occurred</h2>
        <br>
        <p>The administrator has been notified. Sorry for the inconvenience!</p>
        <div class="txtb">
            <button type=submit class="btn btn-outline-primary btn-lg round"><a style="color:#fdfcfc;" href="{{ url_for('index') }}">Back</a></button>
        </div>
    </div>
</div>
{% endblock %}