{% extends "layout.html" %}
<!-- add styles when link is active -->
{% set active_page = "about" %}

{% block heading %}

{% endblock %}

{% block body %}
<div class="container-fluid h-100 d-flex flex-row background-img about-page">
    <div class="about basepage">
        <div class="about-bio">
          <h2>
              About Us
          </h2>
          <br>
          <p>
              Hi there, we're Jacquelyn Chow and Alice Huang!
              <br>
              We're Swarthmore College students studying Computer Science, and we created Novice Chef for fun during the summer
              of 2020. We were inspired to create this app because we are also beginner cooks and always have a hard time using up ingredients in our fridge.
              <br><br>
              Hopefully, with our site in your arsenal, deciding on what to make and how to use up old ingredients is much easier.
              <br><br>
              <strong>How To Use:</strong><br>
              Click on the Search tab to get started with your search for specific ingredients you want to use up or try out our random
              recipe generator if you want to cook something new. You can also save recipes to come back to later if you create an account!
          </p>
          <p style="margin-bottom:30px">
              <strong>Current Sites In Our Database:</strong><br>
              Gimme Some Oven, Pinch Of Yum, Damn Delicious,<br>
              Tasty, Bon Appetit, Minimalist Baker
          </p>
        </div>
        <div id="site-feedback">
          <p>
              We'd love to know how we can make our site better, so please let us know about more features or recipe sites you want to see in our database!
          </p>
          <a href="{{url_for('feedback')}}">
              <button type="button" class="btn btn-outline-light btn-sm round site-feedback-btn">
                Give Feedback
              </button>
          </a>
        </div>
        <div class="headshots">
          <div id="jacquelyn-photo">
            <a href="https://www.linkedin.com/in/jacquelyn-chow-078424173/" target="_blank">
              <img src="{{ url_for('static', filename='headshot-jacquelyn.jpg') }}" id="jacquelyn-img" alt="Jacquelyn Profile">
            </a>
          </div>
          <div id="alice-photo">
            <a href="https://www.linkedin.com/in/alice-s-huang/" target="_blank">
              <img src="{{ url_for('static', filename='headshot-alice.jpg') }}" id="alice-img" alt="Alice Profile">
            </a>
          </div>
        </div>
    </div>
</div>
{% endblock %}
