{% extends "layout.html" %}

{% block heading %}
    
{% endblock %}

{% block body %}
    <div class="container-fluid h-100 d-flex flex-row background-img">
        <div id="forms">
            <form action="{{ url_for('feedback') }}" class="login-form signup feedback formBase" method="post">
                {{ form.hidden_tag() }}
                <div class="txtb-fields">
                    <br>
                    <h1>Feedback</h1>
                    <p>
                        {{ form.name.label }}
                        {{ form.name }}
                    </p>
                    <!-- Prints warning if left blank -->
                    {% for error in form.name.errors %}
                    <div class="error">[{{ error }}]</div>
                    {% endfor %}
                    <p>
                        {{ form.email.label }}
                        {{ form.email }}
                    </p>
                    {% for error in form.email.errors %}
                    <div class="error">[{{ error }}]</div>
                    {% endfor %}
                    <p>
                        {{ form.subject.label }}
                        {{ form.subject }}
                    </p>
                    {% for error in form.subject.errors %}
                    <div class="error">[{{ error }}]</div>
                    {% endfor %}
                    <div class="feedback-field">
                        <p>
                            {{ form.feedbackBody.label }}
                        </p>
                        <p style="margin-top:15px">
                            {{ form.feedbackBody }}
                        </p>
                    </div>
                    {% for error in form.feedbackBody.errors %}
                    <div class="error">[{{ error }}]</div>
                    {% endfor %}
                </div>
                <div class="txtb">
                    <button type=submit class="logbtn">Send</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}