{% extends "layout.html" %}
<!-- add styles when link is active -->
{% set active_page = "home" %}

{% block heading %}

{% endblock %}

{% block body %}
<div class="container-fluid h-100 d-flex flex-row background-img">
  <div class="home basepage">
    <h1>
        Welcome<p><br>to</p> Novice Chef!
    </h1>
    <br><br>
    <p>
      Quick and easy recipes for your fridge clearing needs!<br><br>
      Feel free to peruse through our database and save recipes you like!
    </p>
    <a href="{{url_for('searchRecipes')}}">
      <button type="button" class="btn btn-outline-primary btn-lg round">
        Get Started
      </button>
    </a>
  </div>
</div>
{% endblock %}
