{% extends "layout.html" %}
<!-- add styles when link is active -->
{% set active_page = "home" %}

{% block heading %}

{% endblock %}

{% block body %}
<div class="container-fluid h-100 d-flex flex-row background-img">
  <div class="home">
    <h1>Zero-Waste Cooking, Made <span class="underline-text">Effortless</span></h1>
    <p>
      We've selected the most delicious, <b class="bold-text">quick-to-make</b> recipes
      from our favorite websites so you can search our 5000+ recipe database directly for leftover
      ingredients <b class="bold-text">you already have in your fridge</b>. Even beginners
      can easily use Novice Chef to make home-cooking more straightforward, not to
      mention more eco-friendly and budget-friendly too!
    </p>
    <a href="{{url_for('searchRecipes')}}">
      <button type="button" class="btn btn-outline-light btn-lg round home-button">
        Get Started
      </button>
    </a>
  </div>
</div>
{% endblock %}
