<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!--custom stylesheet-->
      <link rel="stylesheet" href="{{ url_for('static', filename='/styles/styles.css') }}">
      <!--google font-->
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
      <!--icons-->
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <!-- Favicon -->
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <!-- Jquery and Javascript -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='/js/script.js', version='2') }}"></script>

      <title>Novice Chef</title>
      <!-- NAVBAR -->
      <header class="container-fluid">
        <a href="{{ url_for('index') }}">
          <h1 class="logo">
            <img class="novice-chef-logo" src="{{ url_for('static', filename='logo.png') }}">
            Novice Chef
          </h1>
        </a>
        <form action="">
          <input type="checkbox" id="nav-toggle" class="nav-toggle">
          <nav>
            <ul>
              <li class="nav-first-link">
                <!-- add active-nav class to whichever link is clicked  -->
                <a href="{{ url_for('index') }}" class="{{ 'active-nav' if active_page == 'home' else '' }}">Home</a>
              </li>
              <li>
                <a href="{{ url_for('about') }}" class="{{ 'active-nav' if active_page == 'about' else '' }}">About</a>
              </li>
              <!-- If current user is not logged in -->
              {% if current_user.is_anonymous %}
              <li>
                <a href="{{ url_for('login') }}" id="login-nav" class="{{ 'active-nav' if active_page == 'login' else '' }}">Login</a>
              </li>
              {% endif %}
              <li>
                <a href="{{ url_for('searchRecipes') }}" class="{{ 'active-nav' if active_page == 'search' else '' }}">Search</a>
              </li>
              <!-- Current user is logged in and wants to log out/see saved recipes -->
              {% if not current_user.is_anonymous %}
              <li>
                <a href="{{ url_for('savedRecipes', username=current_user.username) }}" class="{{ 'active-nav' if active_page == 'saved' else '' }}">Saved Recipes</a>
              </li>
              <li>
                <a href="{{ url_for('logout') }}">Logout</a>
              </li>
              {% endif %}
            </ul>
          </nav>
          <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
          </label>
        </form>
      </header>
    </head>


    <body>
      <!-- PAGE NAME -->
      <div class="content container-fluid d-flex flex-row">
        <h2>
          {% block heading %}{% endblock %}
        </h2>
        {% block body %}
        {% endblock %}

        <!-- Flash Message
        The get_flashed_messages() function comes from Flask, and returns
        a list of all the messages that have been registered with flash() previously
        Once a flash message is requested once through the get_flashed_messages function it is
        removed from the message list, so it appears only once after the flash() function is called.-->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for category, message in get_flashed_messages(with_categories=True) %}
              <div class="alert-{{category}} alert alert-dismissible fade show" role="alert">
                <div class="center-block">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    </body>
</html>
