{% extends "layout.html" %}

{% block heading %}
    Recipe of the Day
{% endblock %}

{% block body %}

<div class="container-fluid h-100 d-flex flex-row random-page">
  <div class="random-page h-100 basepage">
    <!-- left half  -->
    <div class="col random-img h-100">
      <button type=submit class="btn btn-outline-primary btn-sm round" id="back-btn"><a style="color:#fdfcfc;" href="{{ url_for('searchRecipes') }}">Back to Search</a></button>
      <!-- MAKE IMG CLICKABLE TO RECIPE  -->
      <a href="{{ recipe.recipe_link }}" target="_blank">
        <img src="{{ recipe.image_link }}" id="recipe-img" width="350" alt="{{ recipe.recipe_name }}">
      </a>
      <!-- if user is logged in -->
      {% if not current_user.is_anonymous %}
      <div class="save-btn">
        {% if current_user.is_following(recipe) %}
        <a href="#" class="unsaves" id={{recipe.id}}>Unsave</a>
        {% else %}
        <a href="#" class="saves" id={{recipe.id}}>Save</a>
        {% endif %}
      </div>
      <!-- send user back to saved recipes to go back to login -->
      {% else %}
      <a href="{{ url_for('savedRecipes') }}">Save</a>
      {% endif %}
    </div>
    <!-- right half  -->
    <div class="col random-text h-100">
      <h1>
          Recipe of the Day:
      </h1>
      <p>{{ recipe.recipe_name }}</p>
      <p>{{ recipe.servings }}</p>
      <p><a href="{{ recipe.recipe_link }}" target="_blank">Click here to see the full recipe</a></p>
      <p>
        {% for i in ingreds %}
        <li class="random-ingredient">{{ i.ingredient_name }}</li>
        {% endfor %}
      </p>
    </div>

  </div>
</div>
{% endblock %}
