{% extends "layout.html" %}

{% block heading %}
    Recipe of the Day
{% endblock %}

{% block body %}
<div class="container-fluid h-100 d-flex flex-row random-page">
  <div class="random-page h-100 basepage">
    <!-- left half  -->
    <div class="col random-img h-100">
      <!-- MAKE IMG CLICKABLE TO RECIPE  -->
      <a href="{{ recipe.recipe_link }}" target="_blank">
        <img src="{{ recipe.image_link }}" id="recipe-img" width="350" alt="{{ recipe.recipe_name }}">
      </a>
    </div>
    <!-- right half  -->
    <div class="col random-text h-100">
      <h1>
          Recipe of the Day:
      </h1>
      <p>{{ recipe.recipe_name }}</p>
      <p>{{ recipe.servings }}</p>
      <p><a href="{{ recipe.recipe_link }}" target="_blank">Click here to see the full recipe</a></p>
      <p>
        {% for i in ingreds %}
        <li class="random-ingredient">{{ i.ingredient_name }}</li>
        {% endfor %}
      </p>
    </div>

  </div>
</div>
{% endblock %}
