{% extends "layout.html" %}
{% set active_page = "resetRequest" %}

{% block body %}
<div class="container-fluid h-100 d-flex flex-row background-img">
    <form action="" class="login-form reset-password formBase" method="post" novalidate>
        <h3><strong>Request To Reset Password</strong></h3>
        {{ form.hidden_tag() }}
        <div class="txtb-fields">
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=64) }}<br>
                {% for error in form.email.errors %}
            </p>
            <div class="error">[{{ error }}]</div>
            {% endfor %}
        </div>
        <br>
        <div class="txtb">
            <button type=submit class="logbtn">Request Reset Password</button>
        </div>
    </form>
</div>
{% endblock %}
