{% extends "layout.html" %}
{% set active_page = "reset" %}

{% block body %}
<div class="container-fluid h-100 d-flex flex-row background-img">
    <form action="" class="login-form formBase" method="post" novalidate>
        <h3><strong>Reset Password</strong></h3>
        {{ form.hidden_tag() }}
        <div class="txtb-fields">
            <p>
                {{ form.password.label }}<br>
                {{ form.password }}<br>
            </p>
            {% for error in form.password.errors %}
            <div class="error">[{{ error }}]</div>
            {% endfor %}
            <p>
                {{ form.password2.label }}<br>
                {{ form.password2 }}<br>
            </p>
            {% for error in form.password2.errors %}
            <div class="error">[{{ error }}]</div>
            {% endfor %}
        </div>
        <div class="txtb">
            <button type=submit class="logbtn" style="margin-top:50px;">Reset Password</button>
        </div>
    </form>
</div>
{% endblock %}
