{% extends "layout.html" %}
<!-- add styles when link is active -->
{% set active_page = "search" %}

{% block heading %}
    <!-- Search for Recipes -->
{% endblock %}

{% block body %}

<div class="container-fluid h-100 d-flex flex-row search-page">
    {% if not current_user.is_anonymous %}
    <div class="right-logged">
      <h4>Logged in as: {{ current_user.username }}</h4>
    </div>
    {% endif %}
    <!-- left half  -->
    <div class="col search h-100 w-50">
      <!-- search input  -->
      <form method="POST">
        <div class="search-form">
          <div class="search-text">
            <h3>Help me use up my: </h3>
          </div>
          <div class="search-row">
            <div class="search-column search-input-column">
              <input type="text" name="keyword" id="recipe-search" class="form-control" placeholder="Enter an ingredient" aria-label="Recipe Search By Ingredient" aria-describedby="basic-addon2">
            </div>
            <div class="search-column search-icon-column">
              <a href="{{url_for('recipeResults')}}">
                <button type="submit" id="recipe-search-button" class="btn btn-outline-light">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- right half  -->
    <div class="col random h-100 w-50">
      <form>
        <div class="form-group random-form">
          <div class="adventurous-text">
            <h3>Feeling adventurous?</h3>
          </div>
          <a href="{{url_for('randomRecipe')}}">
            <button type="button" id="random-recipe-button" class="btn btn-outline-light" style="font-weight: 600;">Find me a recipe!</button>
          </a>
        </div>
      </form>
    </div>
    <!-- </div> -->
</div>

{% endblock %}
