{% extends "layout.html" %}
{% set active_page = "signup" %}

{% block heading %}

{% endblock %}

{% block body %}
    <div class="container-fluid h-100 d-flex flex-row background-img">
        <div id="forms">
            <form action="" class="login-form signup formBase" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="txtb-fields">
                    <h1>Sign Up</h1>
                    <p>
                        {{ form.username.label }}
                        {{ form.username() }}
                    </p>
                    <!-- Prints warning if left blank -->
                    {% for error in form.username.errors %}
                    <div class="error">[{{ error }}]</div>
                    {% endfor %}
                    <p>
                        {{ form.email.label }}
                        {{ form.email }}
                    </p>
                    {% for error in form.email.errors %}
                    <div class="error">[{{ error }}]</div>
                    {% endfor %}
                    <p>
                        {{ form.password.label }}
                        {{ form.password() }}
                    </p>
                    {% for error in form.password.errors %}
                    <div class="error">[{{ error }}]</div>
                    {% endfor %}
                    <p>
                        {{ form.password2.label }}
                        {{ form.password2() }}
                    </p>
                    {% for error in form.password2.errors %}
                    <div class="error">[{{ error }}]</div>
                    {% endfor %}
                </div>
                <button type=submit class="logbtn">Sign Up</button>
            </form>
        </div>
    </div>
{% endblock %}
