{% extends "layout.html" %}

{% block heading %}
    
{% endblock %}

{% block body %}
    <form action="" class="login-form signup" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="txtb-fields signup">
            <br>
            <h1>Sign Up</h1>
            <p>
                {{ form.username.label }}
                {{ form.username() }}
            </p>
            <!-- Prints warning if left blank -->
            {% for error in form.username.errors %}
            <div class="error">[{{ error }}]</div>
            {% endfor %}
            <p>
                {{ form.email.label }}
                {{ form.email }}
            </p>
            {% for error in form.email.errors %}
            <div class="error">[{{ error }}]</div>
            {% endfor %}
            <p>
                {{ form.password.label }}
                {{ form.password() }}
            </p>
            {% for error in form.password.errors %}
            <div class="error">[{{ error }}]</div>
            {% endfor %}
            <p>
                {{ form.password2.label }}
                {{ form.password2() }}
            </p>
            {% for error in form.password2.errors %}
            <div class="error">[{{ error }}]</div>
            {% endfor %}
        </div>
        <div class="txtb">
            <button type=submit class="logbtn">Sign Up</button>
        </div>
    </form>
{% endblock %}